Repository tdg5/service-oriented-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - service_oriented
  - service_oriented_test

flake8:
  name: flake8
  language: python
  entry: flake8
  args:
  - service_oriented
  - service_oriented_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Add return type annotations to init functions to honor PEP-484
  service_oriented/application/base_application.py
  service_oriented/application/config/base_config.py
  service_oriented/application/config/yaml_config_settings_source.py
  service_oriented/application/generic_main.py
  service_oriented/deployment_environment.py
  service_oriented_test/application/entry_point_spec_test.py
  service_oriented_test/application/generic_main_test.py
Due: black, flake8

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Remove dependency-injector and rebrand logging config container as initializer
  requirements.txt
  service_oriented/containers/__init__.py
  service_oriented/initializers/__init__.py
  service_oriented/initializers/logging_initializer.py
  service_oriented_test/initializers/logging_initializer_test.py
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Sort some things in setup.py
  setup.py
Due: black, flake8

Don't ignore missing imports
  pyproject.toml
Due: none

Automate collection of code coverage metrics
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  README.md
  requirements.txt
  setup.py
Due: black, flake8, safety-production-dependencies-check

Upgrade cryptography to address vulnerability
  requirements.txt
Due: safety-production-dependencies-check

Fix yaml string syntax
  .github/workflows/main-build-and-publish.yml
Due: none

DI WIP
  requirements.txt
  service_oriented/dependency_injection/container_protocol.py
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Add example application to test
  service_oriented_test/example_application/__init__.py
  service_oriented_test/example_application/app/__init__.py
  service_oriented_test/example_application/app/application.py
  service_oriented_test/example_application/app/config.py
  service_oriented_test/example_application/app/entry_points/__init__.py
  service_oriented_test/example_application/app/entry_points/api.py
  service_oriented_test/example_application/main.py
  service_oriented_test/example_application_test/app/application_test.py
  service_oriented_test/example_application_test/app/config_test.py
Due: black, flake8

Fix style
  service_oriented_test/example_application/app/application.py
  service_oriented_test/example_application/main.py
Due: black, flake8

[skip actions] Update code coverage snapshot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
Due: none

Add missing return type annotation
  service_oriented_test/example_application/app/entry_points/api.py
Due: black, flake8

Update author email and name associated with automated commits
  .github/workflows/main-build-and-publish.yml
Due: none

Fix spelling of spamburglar
  .github/workflows/main-build-and-publish.yml
Due: none

Add py.typed to MANIFEST.in
  MANIFEST.in
Due: none

Extend github workflows with check to make sure requirements.txt is up to date
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
Due: none

Clean up style of .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Move flake8 config to pyproject.toml and replace pytest-watch with pytest-watcher
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  service_oriented/application/entry_point_spec.py
  setup.cfg
  setup.py
Due: black, flake8, safety-production-dependencies-check

Fix flake8 min python version
  pyproject.toml
Due: none

Move setup.py configs to pyproject.toml
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
  .gitignore
  MANIFEST.in
  pyproject.toml
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Make code coverage badge URLs absolute
  README.md
Due: none

Make git diff check more concise
  .github/workflows/other-check-quality-and-tests.yml
Due: none

Add 'all' optional dependency target and tweak pyproject.toml
  pyproject.toml
Due: none

Add AbstractCompositionRoot, rodi for DI, and rework LoggingInitializer into LoggerProvider
  bin/run-example-application
  pyproject.toml
  requirements.txt
  service_oriented/application/abstract_composition_root.py
  service_oriented/services/__init__.py
  service_oriented/services/logger_service/__init__.py
  service_oriented/services/logger_service/abstract_logger_service.py
  service_oriented/services/logger_service/logger_service.py
  service_oriented_test/example_application/app/application.py
  service_oriented_test/example_application/app/entry_points/api.py
  service_oriented_test/example_application/app/entry_points/printer.py
  service_oriented_test/example_application_test/app/application_test.py
  service_oriented_test/example_application_test/app/entry_points/printer_test.py
  service_oriented_test/example_application_test/factories.py
  service_oriented_test/services/logger_service/logger_service_test.py
  service_oriented_test/test_helpers/fixtures.py
  service_oriented_test/test_helpers/fixtures/__init__.py
  service_oriented_test/test_helpers/fixtures/logging_config.yaml
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
