Repository tdg5/service-oriented-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - service_oriented
  - service_oriented_test

flake8:
  name: flake8
  language: python
  entry: flake8
  args:
  - service_oriented
  - service_oriented_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Add DeploymentEnvironment
  service_oriented/__init__.py
  service_oriented/deployment_environment.py
  service_oriented_test/deployment_environment_test.py
Due: black, flake8

Add minimal application BaseConfig
  pyproject.toml
  requirements.txt
  service_oriented/__init__.py
  service_oriented/application/__init__.py
  service_oriented/application/config/__init__.py
  service_oriented/application/config/base_config.py
  service_oriented_test/application/__init__.py
  service_oriented_test/application/config/__init__.py
  service_oriented_test/application/config/base_config_test.py
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Add YamlConfigSettingsSource for loading app config from yaml file
  requirements.txt
  service_oriented/application/config/base_config.py
  service_oriented/application/config/yaml_config_settings_source.py
  service_oriented_test/application/config/yaml_config_settings_source_test.py
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Integrate YamlConfigSettingsSource into BaseConfig
  service_oriented/application/config/base_config.py
  service_oriented_test/application/config/base_config_test.py
Due: black, flake8

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Tweak README to trigger new build
  README.md
Due: none

Populate package classifiers
  setup.py
Due: black, flake8

Get off funky black beta
  pyproject.toml
  requirements.txt
  setup.py
Due: black, flake8, safety-production-dependencies-check

Expose application and application.config packages
  setup.py
Due: black, flake8

Remove usage of SettingsConfigDict
  service_oriented/application/config/base_config.py
  service_oriented_test/application/config/base_config_test.py
Due: black, flake8

Add BaseConfig.entry_point
  service_oriented/application/config/base_config.py
  service_oriented_test/application/config/base_config_test.py
  service_oriented_test/test_helpers/__init__.py
Due: black, flake8

Add EntryPointSpec
  service_oriented/application/entry_point_spec.py
  service_oriented_test/application/entry_point_spec_test.py
  whitelist.txt
Due: black, flake8

Add basic GenericApplication
  service_oriented/application/generic_application.py
  service_oriented_test/application/generic_application_test.py
  whitelist.txt
Due: black, flake8

Expose some classes through application package
  service_oriented/application/__init__.py
Due: black, flake8

Make it possible to provide DeploymentEnvironment stub to BaseConfig
  service_oriented/application/config/base_config.py
  service_oriented/deployment_environment.py
  service_oriented_test/application/config/base_config_test.py
  service_oriented_test/deployment_environment_test.py
  whitelist.txt
Due: black, flake8

Make it possible to provide DeploymentEnvironment dict to BaseConfig
  service_oriented/application/config/base_config.py
  service_oriented_test/application/config/base_config_test.py
Due: black, flake8

Rename GenericApplication to BaseApplication
  service_oriented/application/__init__.py
  service_oriented/application/base_application.py
  service_oriented_test/application/base_application_test.py
Due: black, flake8

Make it possible for BaseApplication entry_points to be defined at class level
  service_oriented/application/base_application.py
  service_oriented_test/application/base_application_test.py
Due: black, flake8

Add GenericMain class for __main__ purposes
  service_oriented/application/generic_main.py
  service_oriented_test/application/generic_main_test.py
  service_oriented_test/test_helpers/__init__.py
  service_oriented_test/test_helpers/fixtures.py
  whitelist.txt
Due: black, flake8

Expose GenericMain through service_oriented.application
  service_oriented/application/__init__.py
Due: black, flake8

Add dependency-injector and LoggingConfigResource
  requirements.txt
  service_oriented/containers/logging_config_resource.py
  service_oriented_test/containers/logging_config_resource_test.py
  setup.py
Due: black, flake8, safety-production-dependencies-check

Add missing __init__.py for containers
  service_oriented/containers/__init__.py
Due: black, flake8

Add NormalizedJsonFormatter
  requirements.txt
  service_oriented/logging/__init__.py
  service_oriented/logging/normalized_json_formatter.py
  service_oriented_test/logging/normalized_json_formatter_test.py
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Fix initializer signature
  service_oriented/logging/normalized_json_formatter.py
Due: black, flake8

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
