Repository tdg5/service-oriented-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - --preview

flake8:
  name: flake8
  language: python
  entry: flake8p
  args:
  - service_oriented
  - service_oriented_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Move service_oriented_test/test_helpers/fixtures to service_oriented_test/fixtures
  bin/run-example-application
  service_oriented_test/application/base_application_test.py
  service_oriented_test/application/config/base_config_test.py
  service_oriented_test/application/entry_point_spec_test.py
  service_oriented_test/application/generic_main_test.py
  service_oriented_test/example_application_test/app/config_test.py
  service_oriented_test/example_application_test/factories.py
  service_oriented_test/fixtures/__init__.py
  service_oriented_test/fixtures/logging_config.yaml
  service_oriented_test/test_helpers/__init__.py
Due: black, flake8

[skip actions] Update code coverage snapshot
  .meta/coverage/report.txt
Due: none

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Use Protocol for LoggerService instead of ABC
  service_oriented/services/logger_service/__init__.py
  service_oriented/services/logger_service/abstract_logger_service.py
  service_oriented/services/logger_service/logger_service.py
  service_oriented/services/logger_service/logger_service_with_yaml_logging_config.py
  service_oriented_test/example_application/app/entry_points/printer.py
  service_oriented_test/example_application_test/app/entry_points/printer_test.py
  service_oriented_test/services/logger_service/logger_service_with_yaml_logging_config_test.py
Due: black, flake8

Fix encapsulation around container to hide rodi
  pyproject.toml
  service_oriented/application/abstract_composition_root.py
  service_oriented_test/example_application/app/entry_points/printer.py
Due: black, flake8

Stop tracking version and add action to explicitly handle releases
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  VERSION
Due: none

Update release workflow with git actor config
  .github/workflows/release.yaml
Due: none

Use GITHUB_TOKEN to authenticate gh CLI instead of explicit login
  .github/workflows/release.yaml
Due: none

Remove extraneous whitespace
  .github/workflows/release.yaml
Due: none

Cache pip dependencies in github workflows
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
Due: none

Only run coverage for source paths
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
Due: none

Fail coverage under 90% coverage
  pyproject.toml
Due: none

Exclude __version__.py from coverage
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
Due: none

Add test for example application Main
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
  service_oriented_test/example_application/main.py
  service_oriented_test/example_application_test/app/main_test.py
Due: black, flake8

Add test for AbstractCompositionRoot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  service_oriented/application/__init__.py
  service_oriented/application/abstract_composition_root.py
  service_oriented_test/application/abstract_composition_root_test.py
Due: black, flake8

Increase code coverage threshold to 98
  pyproject.toml
Due: none

Upgrade black to address vulnerability
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Add some more test coverage
  service_oriented/application/config/yaml_config_settings_source.py
  service_oriented_test/application/generic_main_test.py
  service_oriented_test/logging/normalized_json_formatter_test.py
  service_oriented_test/services/logger_service/logger_service_with_yaml_logging_config_test.py
Due: black, flake8

[skip actions] Update code coverage snapshot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
Due: none

Upgrade github-action-pack to v0.0.6
  .github/workflows/main-branch.yaml
Due: none

Upgrade dependencies with vulnerabilities
  requirements.txt
Due: safety-production-dependencies-check

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
